<?xml version="1.0" encoding="utf-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voole.cdcenter.mapper.system.settings.ISystemSettingsMapper">
	<!-- <cache type="org.mybatis.caches.redis.RedisCache"></cache> -->
	<select id="querySystenSettings" resultType="com.voole.cdcenter.vo.system.settings.SystemSettingsVo" parameterType="com.voole.cdcenter.vo.system.settings.SystemSettingsVo">
		SELECT 
			*
		FROM s_system_settings
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null ">
				AND id =#{id}
			</if>
			<if test="config_name != null and config_name != ''">
				AND config_name =#{config_name}
			</if>
			<if test="config_value != null and config_value != ''">
				AND config_value =#{config_value}
			</if>
			<if test="rmark != null and rmark != ''">
				AND rmark =#{rmark}
			</if>
			<if test="is_on != null ">
				AND is_on  = #{is_on}
			</if>
		</trim>
			<if test="pmv!=null and pmv.iDisplayStart!=null and pmv.iDisplayLength!=null">
				limit #{pmv.iDisplayStart},#{pmv.iDisplayLength}
			</if>
	</select>
	<select id="querySystenSettingsCount" resultType="java.lang.Integer" parameterType="com.voole.cdcenter.vo.system.settings.SystemSettingsVo">
		SELECT 
			count(*)
		FROM s_system_settings
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null ">
				AND id =#{id}
			</if>
			<if test="config_name != null and config_name != ''">
				AND config_name =#{config_name}
			</if>
			<if test="config_value != null and config_value != ''">
				AND config_value =#{config_value}
			</if>
			<if test="rmark != null and rmark != ''">
				AND rmark =#{rmark}
			</if>
			<if test="is_on != null ">
				AND is_on  = #{is_on}
			</if>
		</trim>
	</select>
	<update id="updateSystemSettings" parameterType="com.voole.cdcenter.entry.sytem.settings.SystemSettingsEntry">
		UPDATE s_system_settings
		SET 
			<if test="id != null ">
				id =#{id},
			</if>
			<if test="config_name != null and config_name != ''">
				config_name =#{config_name},
			</if>
			<if test="config_value != null and config_value != ''">
				config_value =#{config_value},
			</if>
			<if test="rmark != null and rmark != ''">
				rmark =#{rmark},
			</if>
			<if test="is_on != null ">
				is_on  = #{is_on},
			</if>
			<if test="create_time != null ">
			 	create_time = #{create_time},
			</if>
			<if test="update_time != null ">
   		 	 update_time = #{update_time},
			</if>
			 version = version+1
			 WHERE 
				id =#{id}
				AND version=#{version}
	</update>
	<insert id="insertSettings" parameterType="com.voole.cdcenter.entry.sytem.settings.SystemSettingsEntry">
		INSERT INTO s_system_settings (
			<if test="id != null ">
				id,
			</if>
			<if test="config_name != null and config_name != ''">
				config_name,
			</if>
			<if test="config_value != null and config_value != ''">
				config_value ,
			</if>
			<if test="rmark != null and rmark != ''">
				rmark,
			</if>
			<if test="is_on != null ">
				is_on,
			</if>
			<if test="create_time != null ">
			 	create_time,
			</if>
			<if test="update_time != null ">
   		 	 update_time,
			</if>
			version
		)
		VALUES
			(
				<if test="id != null ">
					#{id},
				</if>
				<if test="config_name != null and config_name != ''">
					#{config_name},
				</if>
				<if test="config_value != null and config_value != ''">
					#{config_value},
				</if>
				<if test="rmark != null and rmark != ''">
					#{rmark},
				</if>
				<if test="is_on != null ">
					#{is_on},
				</if>
				<if test="create_time != null ">
				 	#{create_time},
				</if>
				<if test="update_time != null ">
	   		 	    #{update_time},
				</if>
				'0'
			);
	</insert>
</mapper>  