<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SupCCBusiness</display-name>
  <listener>
  	<description>cdo启动监听器</description>
  	<listener-class>com.dafy.supccbusiness.web.listener.CDOListerner</listener-class>
  </listener>
  <servlet>
		<servlet-name>CDOServlet</servlet-name>
		<servlet-class>com.dafy.supccbusiness.web.servlet.BusinessServlet</servlet-class>
		<init-param>
			<param-name>WebServiceBus.xml</param-name>
			<param-value>config/webservicebus.xml</param-value>
		</init-param>
		<init-param>
			<param-name>TransFilter.xml</param-name>
			<param-value>config/TransFilter.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CDOServlet</servlet-name>
		<url-pattern>*.cdo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>velocity</servlet-name>
		<servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
		<init-param>
			<param-name>org.apache.velocity.toolbox</param-name>
			<param-value>config/velocity.xml</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.velocity.properties</param-name>
			<param-value>config/velocity.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>velocity</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>