<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<context:annotation-config />
	<context:component-scan base-package="test" />
	<bean id="student" class="test.testdi.Student" init-method="init"
		destroy-method="destory">
		<constructor-arg index="0" ref="teacher" />
		<property name="name" value="张三" />
		<property name="toy" ref="toy" />
		<property name="list">
			<list>
				<value>1</value>
				<value>1</value>
				<value>1</value>
				<value>1</value>
				<value>1</value>
			</list>
		</property>
		<property name="toys">
			<set value-type="test.testdi.Toy">
				<ref bean="toy" />
				<ref bean="toy" />
				<ref bean="toy" />
			</set>
		</property>
		<property name="detailtoys">
			<map>
				<entry key="no1" value-ref="toy" />
				<entry key="no2" value-ref="toy" />
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="no1">haha</prop>
				<prop key="no2">heihei</prop>
			</props>
		</property>
	</bean>
	<bean id="teacher" class="test.testdi.Teacher" />
	<bean id="toy" class="test.testdi.Toy" />
	<bean id="log" class="test.testdi.Log" />
	<!-- spring事物（事物管理器）
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	spring事物（事物通知,配置事务传播特性）
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	spring事物（事物执行者）
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* test.*.*(..))"/>
	</aop:config> -->
	<!-- 注解事物 -->
	<tx:annotation-driven/>
	<aop:aspectj-autoproxy />
</beans>