# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata/*
*/.metadata/*
.settings\*
*\.settings/*
*/.settings/*
*.snap
*.classpath
*/.target
.target/*
*/.target/*
*.project
*.jsdtscope
*.prefs
*/.settings/*
Servers/*
.recommenders
*/.recommenders
.recommenders/*
*/.recommenders/*
*/.recommenders/index/*
*.prx
*.gen
*.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
*/index/*
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders
.recommenders/
.recommenders/*
.recommenders\
.recommenders\*
.recommenders\index
.recommenders\index\*
.recommenders\index\htttp__down*
data_sync_parent/data_sync_admin/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
data_sync_parent/data_sync_admin/.settings/org.eclipse.wst.common.project.facet.core.xml
data_sync_parent/data_sync_admin/.settings/org.eclipse.wst.jsdt.ui.superType.container
data_sync_parent/data_sync_admin/.settings/org.eclipse.wst.jsdt.ui.superType.name
data_sync_parent/data_sync_api/.settings/org.eclipse.wst.common.project.facet.core.xml
data_sync_parent/data_sync_base/.settings/org.eclipse.wst.common.component
data_sync_parent/data_sync_base/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
data_sync_parent/data_sync_base/.settings/org.eclipse.wst.common.project.facet.core.xml
data_sync_parent/data_sync_base/.settings/org.eclipse.wst.jsdt.ui.superType.container
data_sync_parent/data_sync_base/.settings/org.eclipse.wst.jsdt.ui.superType.name
data_sync_parent/data_sync_regular/.settings/org.eclipse.wst.common.component
data_sync_parent/data_sync_regular/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
data_sync_parent/data_sync_regular/.settings/org.eclipse.wst.common.project.facet.core.xml
data_sync_parent/data_sync_regular/.settings/org.eclipse.wst.jsdt.ui.superType.container
data_sync_parent/data_sync_regular/.settings/org.eclipse.wst.jsdt.ui.superType.name
dubbo-parent/dubbo-common/.settings/org.eclipse.wst.common.component
dubbo-parent/dubbo-common/.settings/org.eclipse.wst.common.project.facet.core.xml
dubbo-parent/dubbo-customer/.settings/org.eclipse.wst.common.component
dubbo-parent/dubbo-customer/.settings/org.eclipse.wst.common.project.facet.core.xml
dubbo-parent/dubbo-customer/.settings/org.eclipse.wst.jsdt.ui.superType.container
dubbo-parent/dubbo-customer/.settings/org.eclipse.wst.jsdt.ui.superType.name
dubbo-parent/dubbo-provider/.settings/org.eclipse.wst.common.component
dubbo-parent/dubbo-provider/.settings/org.eclipse.wst.common.project.facet.core.xml
dubbo-parent/dubbo-provider/.settings/org.eclipse.wst.jsdt.ui.superType.container
dubbo-parent/dubbo-provider/.settings/org.eclipse.wst.jsdt.ui.superType.name
sustainable-parent/sustainable-common/.settings/org.eclipse.wst.common.component
sustainable-parent/sustainable-common/.settings/org.eclipse.wst.common.project.facet.core.xml
sustainable-parent/sustainable-interactive/.settings/org.eclipse.wst.common.component
sustainable-parent/sustainable-interactive/.settings/org.eclipse.wst.common.project.facet.core.xml
sustainable-parent/sustainable-interactive/.settings/org.eclipse.wst.jsdt.ui.superType.container
sustainable-parent/sustainable-interactive/.settings/org.eclipse.wst.jsdt.ui.superType.name
sustainable-parent/sustainable-service/.settings/org.eclipse.wst.common.component
sustainable-parent/sustainable-service/.settings/org.eclipse.wst.common.project.facet.core.xml
sustainable-parent/sustainable-service/.settings/org.eclipse.wst.jsdt.ui.superType.container
*.MF
*/target
target/*
*.cache
*.lock
*/logs
logs/*
*/target/*