<?xml version="1.0" encoding="utf-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voole.cdcenter.mapper.system.rule.IUserRuleMapper">
	<!-- <cache type="org.mybatis.caches.redis.RedisCache"></cache> -->
	<sql id="wherecondition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="uid != null ">
				AND uid =#{uid}
			</if>
			<if test="rid != null ">
				AND rid = #{rid}
			</if>
			<if test="is_on != null ">
				AND is_on = #{is_on}
			</if>
		</trim>
	</sql>
	<select id="queryUserRule" parameterType="com.voole.cdcenter.vo.system.rule.UserRuleVo" resultType="com.voole.cdcenter.vo.system.rule.UserRuleVo">
		SELECT * FROM r_user_rule
		<include refid="wherecondition"></include>
	</select>
	<delete id="deleteUserRule" parameterType="com.voole.cdcenter.vo.system.rule.UserRuleVo">
		DELETE FROM r_user_rule
		<include refid="wherecondition"></include>
	</delete>
	<insert id="insertUserRule" parameterType="com.voole.cdcenter.entry.sytem.rule.UserRuleEntry">
		INSERT INTO r_user_rule (
		<if test="id != null ">
			id,
		</if>
		<if test="uid != null ">
			uid,
		</if>
		<if test="rid != null ">
			rid,
		</if>
		<if test="is_on != null ">
			is_on,
		</if>
		<if test="create_time != null ">
			create_time,
		</if>
		<if test="update_time != null ">
			update_time,
		</if>
		version
		)
		VALUES
		(
		<if test="id != null ">
			#{id},
		</if>
		<if test="uid != null ">
			#{uid},
		</if>
		<if test="rid != null ">
			#{rid},
		</if>
		<if test="is_on != null ">
			#{is_on},
		</if>
		<if test="create_time != null ">
			#{create_time},
		</if>
		<if test="update_time != null ">
			#{update_time},
		</if>
		'0'
		);
	</insert>
</mapper>  