<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" [%X{ip}] [%d] %p [%t] %l - %m%n" />
		</layout>
	</appender>
	<appender name="KafkaAppender" class="org.apache.kafka.log4jappender.KafkaLog4jAppender">
		<param name="brokerList" value="${log.kafka.address}" />
		<param name="topic" value="${log.kafka.topic}" />
		<param name="compressionType" value="none" />
		<param name="syncSend" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" [%X{ip}] [%d] %p [%t] %l - %m" />
		</layout>
	</appender>
    <logger name="com.alibaba.dubbo.monitor">
        <level value="OFF"></level>
    </logger>
	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>